@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&f[]=clash-display@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,h2,h3{
  font-family: "Clash Display", sans-serif;
}

p, input, textarea{
  font-family: "Satoshi", sans-serif;
}

button{
  font-family: "Clash Display", sans-serif;
}

.tiptap_form > div{
  border: 1px solid #e2e8f0;
  width: calc(100% - 60px);
  padding: 15px;
  border-radius: 8px;
  height: 40vh;
  overflow-y: auto;
  margin: auto 30px auto 30px;
}

.tiptap_title{
  @extend .tiptap_form;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  & > div{
    height: fit-content;
  }
}

.tiptap_form .is-active{
  background-color: #171717;
  color: #fff;
}

.tiptap_formMenu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  margin: 0 30px 0 30px;
  margin-bottom: 10px;
}

.tiptap_formMenu > button{
  border: 2px solid #171717;
  padding: 2px 5px;
  border-radius: 4px;
}

.tiptap_formMenu ~ div > div {
  border: 1px solid #e2e8f0;
  padding: 8px;
  max-width: 3xl;
  width: calc(100% - 60px);
  padding: 15px;
  border-radius: 8px;
  height: 40vh;
  overflow-y: auto;
  margin: auto 30px auto 30px;
  
  & h1{
    font-size: 1.7rem; 
    font-weight: 700;
  }
  & h2{
    font-size: 1.5rem; 
    font-weight: 700;
  }

  & h3{
    font-size: 1.3rem; 
    font-weight: 700;
  }

  & p{
    font-size: 1.1rem; 
    font-weight: 400;
  }

  & a{
    font-size: 1.1rem; 
    font-weight: 400;
    color: #171717;

    &:hover, &:visited{
      color: #171717;
    }
  }

  & img{
    max-width: 100%;
    height: auto;
  }

  & ul{
    list-style: disc;
    padding-left: 20px;
  }

  & ol{
    list-style: decimal;
    padding-left: 20px;
  }

  & li{
    font-size: 1.1rem; 
    font-weight: 400;
  }

  & blockquote{
    border-left: 4px solid #171717;
    padding-left: 10px;
    margin-left: 10px;
  }

  & pre{
    background-color: #171717;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-family: monospace;
    overflow-x: auto;
  }

}
